<section class="about_section layout_padding" id="about">
    <div class="container">
      <h2 class="main-heading ">
        About School
      </h2>
      <p class="text-center">
        Welcome to our school, where knowledge meets innovation. We offer diverse courses to empower learners of all backgrounds. Join us and unlock your full potential.
      </p>
      <div class="about_img-box ">
        <img src="assets/images/kids.jpg" alt="" class="img-fluid w-100">
      </div>
      <div class="d-flex justify-content-center mt-5">
        <a href="" class="call_to-btn  ">
  
          <span>
            Read More
          </span>
          <img src="assets/images/right-arrow.png" alt="">
        </a>
      </div>
    </div>
  </section>
  
  
  <!-- about section -->
  
