<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        Our Students Feedback
      </h2>
      <p class="text-center">
        "Hear from our students and their positive experiences with our web school."
      </p>
      <div class="layout_padding2">
        <div class="client_container d-flex flex-column">
          <div class="client_detail d-flex align-items-center">
            <div class="client_img-box ">
              <img src="assets/images/student.png" alt="">
            </div>
            <div class="client_detail-box">
              <h4>
                Sarah
              </h4>
              <span>
                (Students)
              </span>
            </div>
          </div>
          <div class="client_text mt-4">
            <p>
              "Meet Sarah, one of our exceptional students at our web school. Sarah's journey with us has been nothing short of inspiring. Through our innovative online platform, she has discovered a new passion for learning, expanded her knowledge across various subjects, and formed lasting connections with fellow students. Sarah's dedication, growth, and accomplishments serve as a testament to the transformative power of education in our web school community. Join us today and embark on your own remarkable journey like Sarah."
  
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  <!-- client section -->
  
